@page "/"

<PageTitle>Randevu Paneli</PageTitle>

<div class="mt-4">
    <h1>Koru Randevu Yönetimi</h1>
    <p>
        Bu panel üzerinden şubeler için randevu taleplerinizi oluşturabilir, var olan taleplerinizi takip edebilir
        ve yöneticiyseniz bekleyen talepleri onaylayıp reddedebilirsiniz.
    </p>

    <ul>
        <li><strong>Kullanıcılar</strong> sol menüden <em>Taleplerim</em> listesini ve <em>Yeni Talep</em> formunu kullanabilir.</li>
        <li><strong>Yöneticiler</strong> <em>Yönetici Talepleri</em> ekranı üzerinden bekleyen talepleri yönetir.</li>
    </ul>
</div>
